<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Nicholas Salem</title>

        <style>
        
        </style>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/css/pageStyles.css"/>
        <script src="/static/js/pageAdmin.js"></script>   
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <link rel="shortcut icon" type="image/png" href="/static/img/Logo.PNG">

    </head>

    <body id="aboutBody" style="height: auto;">
        
        <!-- NAV BAR -->
        

        <div class="container-fluid" id="navdiv" style="height: 100%; background-color: black;">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/static/img/Logo2.PNG" class="navbar-brand">
                <ul class="nav navbar-nav" id="navbar">
                    <li><a id="navbar" href="#" style="color:white;font-size: 20px;">Nicholas Salem</a></li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav navbar-right" id="navbar">
                    <li><a id="navbar" href="/" style="color:white;font-size: 20px;">Home</a></li>
                    <li><a id="navbar" href="about" style="color:white;font-size: 20px;">About</a></li>
                    <li><a id="navbar" href="experience" style="color:white;font-size: 20px;">Experience</a></li>
                    <li><a id="navbar" href="#" style="color:white;font-size: 20px;">Projects</a></li>
                    <li><a id="navbar" href="#" style="color:white;font-size: 20px;">Contact</a></li>
                    <li><a id="navResume" href="/static/img/NicholasSalem_Resume - Copy.pdf" download style="color:white;font-size: 20px;">Resume</a></li>

                </ul>
            </div>

        </div>

        <!-- GRID BOOTSTRAP -->
        <div class="container-fluid" id="gridDiv" >

            <div class="row h-100" id="r1">
                <div class="col-md-4" id=col1>
                    <img src="/static/img/meNoBackground.png" alt="" style="height:100vh";>
                </div>

                <div class="col-md-1" id=col3>
                </div>

                <div class="col-md-6" id="col2">
                    <h1 style="text-align: center; font-size: 70px;">About me:</h1>
                    <h1 style="text-align: center;">A atriz e modelo Emily Ratajkowski voltou a lacrar na web ao posar para sua linha de trajes e banho e lingerie usando um body supertransparente e cavadíssimo.
                        A peça preta ainda trazia um decotão generoso, que realçou ainda mais o corpinho esbelto de Emily, conhecida por filmes como Música, Amigos e Festa e Garota Exemplar. Ela ainda ficou famosa por estrelar o clipe Blurred Lines, de Robin Thicke.
                    </h1>
                </div>

                <div class="col-md-1" id=col3>
                </div>
            </div>

    </body>
</html>