<!DOCTYPE html>
<html lang="en">
    <head>

        <style>

            body
            {
                background-color: black;
            }
            
        </style>

        <title>Nicholas Salem</title>
        
        <link rel="shortcut icon" type="image/png" href="/static/img/Logo2.PNG">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
       <!-- / <script src="../static/js/admin.js"></script> -->

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    </head>

    <body >

        <!-- NAV BAR -->
        <nav class="navbar navbar-inverse" id="navbar">

            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="/static/img/Logo2.PNG" class="navbar-brand">
                    <ul class="nav navbar-nav" id="navbar">
                        <li><a id="navbar" href="#" style="color:white;font-size: 20px;">Nicholas Salem</a></li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="mainNavBar">
                    <ul class="nav navbar-nav navbar-right" id="navbar">
                        <li><a id="navbar" href="/" style="color:white;font-size: 20px;">Home</a></li>
                        <li><a id="navbar" href="about" style="color:white;font-size: 20px;">About</a></li>
                        <li><a id="navbar" href="experience" style="color:white;font-size: 20px;">Experience</a></li>
                        <li><a id="navbar" href="#" style="color:white;font-size: 20px;">Projects</a></li>
                        <li><a id="navbar" href="#" style="color:white;font-size: 20px;">Contact</a></li>
                        <li><a id="navResume" href="/static/img/NicholasSalem_Resume - Copy.pdf" download style="color:white;font-size: 20px;">Resume</a></li>

                    </ul>
                </div>

            </div>
        </nav>

        <div class="container-fluid" id="experience" >

            
            <!-- ABOUT -->

            <div class="row" style="height: 100%;">

                <div class="col-md-4" style="height: 100%;">
                    <div class="row" style="height: 30%;"></div>
                </div>

                <div class="col-md-7" style="height: 100%;">
                    <div class="row" style="height: 10%;"></div>
                    <h1 id="hi" style="color:black;font-size: 70px; text-align: center;">About me</h1><br>
                    <p id="hi" style="color:black; text-align: center;" >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique ut magna vel rhoncus. Nullam pretium luctus mi, sit amet rutrum justo tempus et. Fusce placerat consectetur nisl a eleifend. Fusce aliquet molestie blandit. Quisque accumsan lectus non finibus ornare. Fusce vehicula volutpat scelerisque. Donec bibendum purus non orci tincidunt semper. Sed enim ex, consequat gravida eros quis, vulputate malesuada nibh.
                    </p>
                </div>

                <div class="col-md-1">
                    
                </div>
            </div>
           
        </div>

    </body>
</html>