/* html, body
{
    height:100%;
    width: auto;
    margin: 0px;
}

body
{
    background-color:#171c28;
}

#BodyLanding
{
    background: url('/static/img/work2.jpeg');
    background-size: cover;
    background-color:#171c28;
} 

#about
{
    background-color: purple;
    background-size: cover;
}

#experience
{
    background-color: blanchedalmond;
    background-size: cover;
}

#hi
{
    animation: fadeIn 3s;
    font-family: "Lato",sans-serif;
}

@keyframes fadeIn
{
    from{opacity: 1;}
    to{opacity: 1;}
}
 */
