<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Nicholas Salem</title>

        <link rel="stylesheet" href="../static/css/stylee.css"/>
        <link rel="shortcut icon" type="image/png" href="../static/img/Logo2.PNG">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      

    </head>

    <Body>
        

            <ul id="navUL">
                <li id="navItem" style="float: left;"><a href=""><img src="../static/img/Logo2.PNG" style="height: 8vh; width: 5vw;"> </a></li>
                <li id="navItem" style="float: left;"><a href="">Nicholas Salem</a></li>
                
                <li id="navItem"><a href="#expPage">Experience</a></li>
                <li id="navItem"><a href="#page2">About</a></li>
                <li id="navItem"><a href="#landingPage">Home</a></li>
                <li id="navItem"><a href="../static/img/NicholasSalem_Resume - Copy.pdf" download>Resume</a></li>
                <li id="navItem"><a href="#contactPage">Contact</a></li>
                <li id="navItem"><a href="#projPage">Projects</a></li>
              </ul>


        <div class="container">

            <!-- LANDING PAGE -->
            <div class="row" id="landingPage">
                <div class="col1"></div>
                <div class="col2">
                    <h1 id="hi">Hi, my name is Nick</h1>
                    <h3 id="hib">I am a computer Sience and Economics student</h3>
                    <h3 id="hib">at the University of Rochester</h3>
                </div>
                <div class="col3"></div>
            </div>


            <!-- ABOUT PAGE -->
            <div class="row" id="page2" style="height: 100vh; width: 100vw; background-color: black;">
                <div class="r2c1" style="height: 100vh; width: 30vw;"></div>
                <div class="r2c2"style="height: 100vh; width: 15vw;"></div>
                <div class="r2c3" style="height: 100vh; width: 40vw;">
                    <h1 style="color: skyblue;">about me</h1>
                    <ul>
                        <li><p>Born in Sao Paulo Brasil</p></li>
                        <li><p>Born in Sao Paulo Brasil</p></li>
                    </ul>
                </div>
                <div class="r2c4"style="height: 100vh; width: 15vw;"></div>
            </div>

            <!-- Experience -->

            <div id="expPage">
                <div class="row" id="exp" style="height: 10vh; width: 100vw;"></div>
                <div class="row" id="exp" style="height: 20vh; width: 100vw;"><h1 style="text-align: center;">Experience:</h1></div>
                <div class="row" id="page3" style="height: 90vh; width: 100vw;">
                    <div class="r3c1" style="height: 100vh; width: 50vw; align-items: center;">
                        <h2 id="exp" style="color: skyblue;">Work</h2>
                        <ul id="workList2">
                            <!-- <div class="row" id="exp" style="height: 100vh; width: 2vw;"></div> -->
                            <li id="workList-item">
                                <img src="../static/img/uofr.png" style="height: 15vh; width: 15vw;"/>
                                <div style="height: 15vh; width: 15vw;"><p>Teaching Assistant University of Rochester</p></div>
                            </li>
                            <br>
                            <li id="workList-item">
                                <img src="../static/img/MIRABAUD.png" style="height: 15vh; width: 15vw;"/>
                                <div style="height: 15vh; width: 15vw;"><p>Teaching Assistant University of Rochester</p></div>
                            </li>
                        </ul>
                        <!-- <div class="row" id="exp" style="height: 1vh; width: 50vw;"></div> -->
                        <ul id="workList2">
                            <!-- <div class="row" id="exp" style="height: 100vh; width: 2vw;"></div> -->
                            <li id="workList-item">
                                <img src="../static/img/csu.jpg" style="height: 15vh; width: 15vw;"/>
                                <div style="height: 15vh; width: 15vw;"><p>Teaching Assistant University of Rochester</p></div>
                            </li>
                            <br>
                            <li id="workList-item">
                                <img src="../static/img/puc.png" style="height: 15vh; width: 15vw;"/>
                                <div style="height: 15vh; width: 15vw;"><p>Teaching Assistant University of Rochester</p></div>
                            </li>
                        </ul>
                    </div>
                    <div class="r3c2"style="height: 100vh; width: 50vw; align-items: center;">
                        <h2 id="exp" style="color: skyblue;">Skills</h2>
                        <div id="skills-items" style="width: 50vw;">
                            <img id="skills-items-img" src="../static/img/skills/html.jpg" alt="" style="height: 10vh; width: 10vw;">
                            <img id="skills-items-img" src="../static/img/skills/css.jpg" alt="" style="height: 10vh; width: 10vw;">
                            <img id="skills-items-img" src="../static/img/skills/js.png" alt="" style="height: 10vh; width: 10vw;">
                        </div>
                        <div id="skills-items" style="width: 50vw;">
                            <img id="skills-items-img" src="../static/img/skills/c.jpg" alt="" style="height: 10vh; width: 10vw;">
                            <img id="skills-items-img" src="../static/img/skills/csharp.jpg" alt="" style="height: 10vh; width: 10vw;">
                            <img id="skills-items-img" src="../static/img/skills/cpp.jpg" alt="" style="height: 10vh; width: 10vw;">
                        </div>
                        <div id="skills-items" style="width: 50vw;">
                            <img id="skills-items-img" src="../static/img/skills/java.jpg" alt="" style="height: 10vh; width: 10vw;">
                            <img id="skills-items-img" src="../static/img/skills/python.jpg" alt="" style="height: 10vh; width: 10vw;">
                            <img id="skills-items-img" src="../static/img/skills/swift.jpg" alt="" style="height: 10vh; width: 10vw;">
                        </div>
                        <div id="skills-items" style="width: 50vw;">
                            <img id="skills-items-img" src="../static/img/skills/stata.png" alt="" style="height: 10vh; width: 10vw;">
                            <img id="skills-items-img" src="../static/img/skills/excel.png" alt="" style="height: 10vh; width: 10vw;">
                            <img id="skills-items-img" src="../static/img/skills/bloomberg.png" alt="" style="height: 10vh; width: 10vw;">
                        </div>
                    </div>
                </div>
            </div>

             <!-- Projects PAGE -->
             <div id="projPage" style="background-color: black; height: 100vh; width: 100vw;">
                <div class="row" id="exp" style="height: 10vh; width: 100vw;"></div>
                <div class="row" id="exp" style="height: 20vh; width: 100vw;"><h1 style="text-align: center;">Projects:</h1></div>
                
                <div class="row" id="exp3" style="height: 35vh; width: 100vw; flex-direction: row;">
                    <!-- <div class="row" style="height: 20vh; width: 100vw;"></div> -->
                    <div class="r4c1"style="height: 35vh; width: 5vw;"></div>

                    <div class="r4c2" style="height: 35vh; width: 25vw;">
                        <h2 style="color: skyblue;">Shortest Path</h2>
                        <img src="../static/img/Screen Shot 2018-12-17 at 8.16.16 PM.png" style="width: 20vw; height: 20vh;">
                    </div>

                    <div class="r4c1"style="height: 35vh; width: 5vw;"></div>

                    <div class="r4c2" style="height: 35vh; width: 30vw;">
                        <h2 style="color: skyblue;">Where To Eat</h2>
                        <img src="../static/img/food.PNG" style="width: 20vw; height: 20vh;">
                    </div>

                    <div class="r4c1"style="height: 35vh; width: 5vw;"></div>

                    <div class="r4c4"style="height: 35vh; width: 25vw;">
                        <h2 style="color: skyblue;">Job Density</h2>
                        <img src="../static/img/Capture2.PNG" style="width: 20vw; height: 20vh;">
                    </div>

                    <div class="r4c1"style="height: 35vh; width: 5vw;"></div>
                   
                </div>

                <div class="row" id="exp3" style="height: 35vh; width: 100vw; flex-direction: row;">
                    <!-- <div class="row" style="height: 20vh; width: 100vw;"></div> -->
                    <div class="r4c1"style="height: 35vh; width: 5vw;"></div>

                    <div class="r4c2" style="height: 35vh; width: 25vw;">
                        <h2 style="color: skyblue;">Flappy Bird</h2>
                        <img src="../static/img/flappy.PNG" style="width: 20vw; height: 20vh;">
                    </div>

                    <div class="r4c1"style="height: 35vh; width: 5vw;"></div>

                    <div class="r4c2" style="height: 35vh; width: 30vw;">
                        <h2 style="color: skyblue;">Huffman Econding</h2>
                        <img src="../static/img/huffman.png" style="width: 20vw; height: 20vh;">
                    </div>

                    <div class="r4c1"style="height: 35vh; width: 5vw;"></div>

                    <div class="r4c4"style="height: 35vh; width: 25vw;">
                        <h2 style="color: skyblue;">Pong</h2>
                        <img src="../static/img/pong.PNG" style="width: 20vw; height: 20vh;">
                    </div>

                    <div class="r4c1"style="height: 35vh; width: 5vw;"></div>
                   
                </div>
                
            </div>


            <!-- Contact PAGE -->
            <div id="contactPage">
                <div class="row" id="exp" style="height: 10vh; width: 100vw;"></div>
                <div class="row" id="exp" style="height: 5vh; width: 100vw;"><h1 style="text-align: center;">Get in touch!</h1></div>
                <div class="row" id="exp" style="height: 90vh; width: 100vw;">
                    <div class="contact1c1" style="height: 90vh; width: 60vw;"></div>
                    <div class="contact1c2"style="height: 90vh; width: 30vw;">

                        <h2>send me a message!</h2>

                        <form id="formContainer" action="https://formspree.io/nicholasssalem@gmail.com" method="POST">
                            <div class="textbox">
                                <label for="Email">Email</label>
                                <input type="text" placeholder="" name="_replyto" style="height: 5vh; width: 20vw;">
                            </div>

                            <div class="textbox">
                                <label for="Subject">Subject</label>
                                <input type="text" placeholder="" name="_subject" style="height: 5vh; width: 20vw;">
                            </div>

                            <div class="textbox">
                                <label for="Message">Message</label>
                                <textarea name="message" class="contact-input autoExpand" id="message" required="" style="height: 20vh; width: 20vw;"></textarea>
                            </div>

                            <input class="btn" type="submit" value="Send" name="submit">
                        </form>

                    </div>
                    <div class="contact1c3"style="height: 90vh; width: 10vw;"></div>
                </div>
             </div>


             <!-- Ending PAGE -->
             <div id="endingPage">
                <div class="row" id="exp" style="height: 10vh; width: 100vw;"><h2 style="text-align: center; color: skyblue;">Connect with me on Linked in and Github!</h2></div>
                <div class="row" style="height: 20vh; width: 100vw;">
                    <div class="r5c1" style="height: 20vh; width: 30vw;"></div>
                    <div class="r5c2"style="height: 20vh; width: 40vw;">
                        <a href="https://github.com/NicoSalem" target="_blank">
                            <img src="../static/img/github.png" alt="" style="height: 10vh; width: 10vw;" >
                        </a>
                        <a href="https://www.linkedin.com/in/nicholas-salem-aa8b2a195/" target="_blank">
                            <img src="../static/img/linkedIn.png" alt="" style="height: 10vh; width: 10vw;" >
                        </a>                    </div>
                    <div class="r5c3" style="height: 20vh; width: 30vw;"></div>
                </div>
             </div>

        </div>

        
    </Body>

</html>